 nav{
    display: flex;
    justify-content: space-between;
     background-color: rgb(173, 138, 77);
   
    }
    nav ul{
        overflow: hidden;
        padding: 0px;
        margin: 0;
        display: flex;
    }
    nav ul li{
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    nav h1{
        margin:10px 0 0 40px ;
        color: white;
    }
    nav ul li a{
        padding:20px;
        text-decoration: none;
        color: black;
        display: block;
    }
      nav ul li a:hover{
        background-color: rgba(78, 74, 74, 0.37);
      }
     .but{
        background-color: rgb(99, 63, 2);
        border: 1px solid rgb(99, 63, 2);
        border-radius:20px 0px 20px 0px ;
        margin: 5px;
        }
        .but a{
            text-decoration: none;
            color: white;
            padding: 10px;
        }
        .but:hover{
             background-color: rgba(78, 74, 74, 0.37);
        }
             .p1 .ch1,.ch2{
            display: inline-block;
            width: 49%;
            box-sizing: border-box;
             padding: 20px;
              vertical-align: middle;
            }
        .im1{
            border-radius: 50% 50% 0px 0px ;
            width: 80%;
             margin-right:0px; 
             height: 350px;
            }
        .p1 .ch1{
            padding:10px 10px 0px 250px;
         }
        .p1{
            padding: 30px;
        }
         .bu1{
        color: white;
        padding: 10px 20px;
        background-color: rgb(99, 63, 2);
        border: 1px solid rgb(99, 63, 2);
        border-radius:20px 0px 20px 0px ;
        }

        .p2{
        background-color: rgb(173, 138, 77);
        color: white;
         padding: 20px;
        }
     .sp2{
      padding:40px 150px;
       }
