 nav{
    display: flex;
    justify-content: space-between;
     background-color: rgb(173, 138, 77);
   
    }
    nav ul{
        overflow: hidden;
        padding: 0px;
        margin: 0;
        display: flex;
    }
    nav ul li{
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    nav h1{
        margin:10px 0 0 40px ;
        color: white;
    }
    nav ul li a{
        padding:20px;
        text-decoration: none;
        color: black;
        display: block;
    }
      nav ul li a:hover{
        background-color: rgba(78, 74, 74, 0.37);
      }
     .but{
        background-color: rgb(99, 63, 2);
        border: 1px solid rgb(99, 63, 2);
        border-radius:20px 0px 20px 0px ;
        margin: 5px;
        }
        .but a{
            text-decoration: none;
            color: white;
            padding: 10px;
        }
        button:hover{
             background-color:rgb(97, 74, 36);
        }
             .p1 .ch1,.ch2{
            display: inline-block;
            width: 49%;
            box-sizing: border-box;
             padding: 20px;
              vertical-align: middle;
            }
        .im1{
            border-radius: 50% 50% 0px 0px ;
            width: 80%;
             margin-right:0px; 
             height: 350px;
            }
        .p1 .ch1{
            padding:10px 10px 0px 250px;
         }
        .p1{
            padding: 30px;
        }
         .bu1{
        color: white;
        padding: 10px 20px;
        background-color: rgb(99, 63, 2);
        border: 1px solid rgb(99, 63, 2);
        border-radius:20px 0px 20px 0px ;
        }

        .p2{
        background-color: rgb(173, 138, 77);
        color: white;
         padding: 20px;
        }
     .sp2{
      padding:40px 150px;
       }

    .p3{
     padding: 20px;
     
    }
   .ch13{ 
    display: inline-block;
    width: 40%; 
    margin: auto;
     padding: 20px 20px 20px 100px;
    box-sizing: border-box;
     background-color: rgb(238, 245, 202);
     vertical-align: top;
    margin-top: 70px;
    position: relative;
    left: 100px;
        }
   .ch23{
     display: inline-block;
     width:50%;
      margin: auto; 
      box-sizing: border-box; 
      padding: 30px;
    }
   .im2{
    width: 100%;
     height: 350px;
    }

     .p4{
    color: white;
    background-color:  rgb(173, 138, 77);
    padding: 50px;
    height: 650px;
    }
 .ch14{
    display: inline-block; 
    width: 31%;
     box-sizing: border-box;
      margin: 10px;
       height: 300px;
    }
    .im3{
        width: 100%;
    }
    #ch14{
        vertical-align:bottom;
    }
   .p5{
        padding: 50px;
    }
    .ch15,.ch25{
        display: inline-block;
        width: 20%;
        margin: 80px;
        box-sizing: border-box;
    }
    .im4{
        width: 100%;
        border-radius: 50% 50% 0px 0px;
    } 
     .p6{
    background-color:rgb(226, 226, 170);
     text-align: center;
     padding: 50px;
    }
 .ch16{
    width: 28%;
    margin: 30px;
    background-color: white;
     display:inline-block;
     padding: 20px;
     box-sizing: border-box;
    }

.p7{
    text-align: center;
     padding: 50px;
    }

.ch17{
    width: 40%;
     margin: auto; 
     text-align: left;
      position: relative;
       box-sizing: border-box;
    }
.li{
    padding:20px 50px;
}